@model IEnumerable<FeedbackSystem.WebHost.ViewModel.FeedbackViewModel>

@{
    Layout = null;
}

<ul class="feedbacks">
   @foreach(var feedback in Model)
   {
       <li>
           <p>
               <span class="username">@feedback.Owner.UserName</span><br />
           </p>
           <p> @feedback.Text</p>
           <p class="date-posted">Posted @feedback.Date</p>
       </li>
   }
</ul>
