body {
    padding-top: 50px;
    padding-bottom: 20px;
}

/* Set padding to keep content from hitting the edges */
.body-content {
    padding-left: 15px;
    padding-right: 15px;
}

/* Override the default bootstrap behavior where horizontal description lists 
   will truncate terms that are too long to fit in the left column 
*/
.dl-horizontal dt {
    white-space: normal;
}

/* Set width on the form input elements since they're 100% wide by default */
input, select
{
    max-width: 280px;
}

#main-column{
    float:none;
}

.pad-bottom {
    margin-bottom: 10px;
}

.new-feedback{
    background-color: #c9e0fc;
    padding: 15px 10px;
    border-radius: 10px;
}

.username {
    font-weight: bold;
    color: #ff6a00;
}

.feedbacks li {
    border-bottom: 1px solid #CCC;
    padding: 15px 0;
}

.feedbacks li:first-child {
    border-top: 1px solid #CCC;
}

.feedbacks li .date-posted {
    font-size: 12px;
    font-style: italic;
}

.feedback-item{
    position: relative;
}

.voting-bar{
    position:absolute;
    right: 0px;
    top: 10px;
}

.rating, .vote-up, .vote-down{
    display: block;
}

.rating{
    text-align:center;
}
